@import "src/styles/variables.scss";

.input {
  font-size: $font-size-normal;
  border: 1px solid $gray;
  padding: 0.5rem 0.25rem;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}