@import "src/styles/variables";

.error {
  display: flex;

  font-size: $font-size-normal;
  justify-content: center;
  margin: 1rem;

  .message,
  .code {
    color: $error;
    font-weight: bold;
  }
}
